<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="main">

    <div class="box">
      <div class="left">
        <div class="center">
          <h1>track your daily expenses here</h1><br>
          <h3>"expense manager which takes notes<br> of your daily expenses"<br> signup to create an account- and<br>
            start managing your
            expenses</h3>
          <a href="/signin">signup</a>
        </div>
      </div>
      <div class="right">

      </div>
    </div>
  </div>
</body>

</html>