* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #FCEEEA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 33.3vw;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
}

.box h1 {
    margin-top: 3vw;
    margin-left: 2vw;
    color: #595858;
    text-transform: capitalize;
    margin-bottom: 3.2vw;
    font-size: 2.3vw;
    font-family: gilroy;
}



input {
    margin-left: 6vw;
    padding: 0.7vw 4vw;
    text-transform: capitalize;
    border: 1px solid #dadada;
}

button {
    margin-left: 6vw;
    padding: 0.7vw 8.8vw;
    background-color: #FF3F6C;
    border: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2vw;
}

.sign a {
    color: #FF3F6C;
    margin-left: 14vw;
    text-decoration: none;
    text-transform: capitalize;

}

h3 {
    margin-top: 2vw;
    text-align: center;
    word-spacing: 0.1vw;
    font-size: 1.8vw;
    color: #3f3e3e;
    font-weight: 600;
    font-family: gilroy;


}

.box h3 a {
    color: #FF3F6C;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: unset;
    text-decoration: none;
}

.error {
    font-weight: 500;
    color: red;
    text-transform: capitalize;
    margin-left: 5vw;
    margin-bottom: 2vw;
}